/* Style des barres en dessous du menu*/

 li.menu-elements:nth-child(2)::after{
    content: "";
   position: absolute;
    top: 138px;
   height: 1px;
   background: #0071c5 ;
    margin-left: 10px;
   -moz-transition: all .5s ease ;
   -webkit-transition: all .5s ease ;
   transition: all .5s ease;
   /*z-index: 1000;*/
   width: 78px;
  }

   li.menu-elements:nth-child(1)::after{
   display: NONE;
  }
  /*FIN */

.content-actu
{
  display: inline-block;
  background-color: #0071c5;
  height: 300px;
  width: 40% !important;
  float: right !important;
      border-radius: 0px 3px 3px 0px;

}

.img-actu-description {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px;
    width: 60%;
    display: inline-block;
    border-radius: 3px 0 0 3px;

}

.theme-actu{
  font-size: 18px;
  font-weight: bold;
  color: #3e3939;
}

.title-actualites{
  font-size: 14px;
  font-weight: bold;
  color: #dce6d7;
}

.about-actualites{
  font-size: 12px;
  color: #232323;
}

.small-description-actu{
  margin: 0;
  padding: 20px 0 0 0;
  height:170px;
  color:  #f7f7f7;
}
.about-actualites{
  margin: 0;
  height:60px
}

.theme-title-actu{
  height:70px;
  padding-top: 10px;
}

